footer {
    background-color: var(--bkg-footer);
    /* color: white; */
    padding: var(--pd-footer);
    color: white;
    text-align: center;

    .username {
        color: var(--accent-clr);
        font-weight: bold;
        padding: 0.3rem;
        background-color: white;
        border-radius: 6px;

        margin-right: 0.5rem; /* to push message a bit */

        &:hover {
            background-color: var(--accent-clr);
            color: var(--bkg-secondary-clr);
        }
    }
}
