<body>
    <%- include('../partials/head.ejs') %>

    <!-- HEADER -->
    <%- include('../partials/header.ejs') %>

    <!-- HERO -->
    <h1><%= title %></h1>

    <!-- FOOTER -->
    <%- include('../partials/footer.ejs') %>
</body>
